@charset "utf-8";
/* 轮播图 */
.banner {
	height: 470px;
}

.banner img {
	height: 470px;
	background-size:cover;
}
.banner .imgcont{
	width: 100%;
	text-align: center;
}
.banner .lunbobtn{
	color: rgba(255,255,255,0.7);
	display: none;
}
.banner:hover .lunbobtn{
	display: block;
}
/* 一二级菜单JSc */

.shop_banner_n {
	width: 230px;
	position: absolute;
	top: 33px;
	left: 50%;
	margin-left: -600px;
	z-index: 10;
}

.shop_nav_c {
	width: 230px;
	background: rgba(255, 255, 255, 0.85);
}

.list_nav {
	width: 230px;
	border-left: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	position: relative;
	float: left;
	z-index: 333;
}

.list_nav div {
	font-family: "微软雅黑";
}

.list_nav a {
	text-decoration: none;
	font-family: "微软雅黑";
	color: #494949;
	font-weight: 600;
	height: 25.5px;
	line-height: 25.5px;
}

.list_nm {
	font-size: 16px;
	font-weight: 600;
	position: relative;
	padding: 16px 15px 15px 30px;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	font-weight: normal;
	display: block;
	line-height: 22px;
	height: 22px;
	box-sizing: content-box;
}

.list_nm:hover,
.list_lta p>a:hover,
.list_lta ul li>a:hover {
	color: #E1400A;
}

.list_cont {
	width: 964px;
	background: #f7f7f7;
	position: absolute;
	left: 230px;
	top: -1px;
	border-right: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 22px 20px 22px;
	display: none;
	z-index: 333;
	min-height: 250px;
}

.list_lt {
	width: 630px;
	float: left;
	margin-bottom: 20px;
}

.list_lta p {
	color: #000;
	float: left;
	text-align: right;
	overflow: hidden;
	width: 96px;
	background: url(../img/index/banner3.png) no-repeat right center;
	padding-right: 20px;
	line-height: 20px;
	box-sizing: border-box;
	font-weight: 550;
	font-size: 13px;
}

.list_lta ul {
	margin-left: 96px;
	width: 575px;
	padding-bottom: 5px;
}

.list_lta ul li {
	font-size: 12px;
	float: left;
	line-height: 20px;
	height: 20px;
	zoom: 1;
}

.list_lta ul li a {
	border-left: 1px solid #e5e5e5;
	padding-left: 12px;
	padding-right: 12px;
	color: #191919;
	white-space: nowrap;
}

/* 图标 */
.icon {
	height: 95px;
	background-color: white;
}

.icon ul {
	height: 95px;
	font-size: 0;
}
.icon ul>a{
	display:inline-block;
	width:calc(100% / 5);
	height: 100%;
}
.icon ul li{
	height: 95px;
	line-height: 95px;
	width:100%;
	float: left;
	text-align: center;
	transition: all 0.5s;
	background: url(../img/business/person_btn.png) no-repeat;
	background-size: 30px;
	background-position: center 25px;
}
.icon ul .huishou{
	background: url(../img/business/business_huishoubtn.png) no-repeat;
	background-size: 30px;
	background-position: center 25px;
}
.icon ul .jisu{
	background: url(../img/business/home_btn.png) no-repeat;
	background-size: 30px;
	background-position: center 25px;
}
.icon ul .zulin{
	background: url(../img/business/zulin_btn.png) no-repeat;
	background-size: 30px;
	background-position: center 25px;
}
.icon ul .zichan{
	background: url(../img/business/zichan_btn.png) no-repeat;
	background-size: 30px;
	background-position: center 25px;
}
.icon ul li:hover {
	transform: translateY(-2px);
	box-shadow: 0 3px 5px #ddd;
	
}
.icon ul li span {
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	color: #505050;
	text-align: center;
	margin-top: 55px;
}

/* 联想秒杀 */
.floor1 {
	height: 360px;
	background-color:#e5e5e5;
}

.floor1 .floor1-lft {
	height: 340px;
	width: 230px;
	float: left;
	margin-top: 20px;
	cursor: pointer;
	background: url(../img/index/floor101.png) no-repeat center center;
}

.floor1 .floor1-lft div:first-child {
	font-size: 32px;
	font-family: "汉仪秀英体简";
	margin-top: 44px;
	text-align: center;
	color: #fff;
}

.floor1 .floor1-lft div:nth-child(2) {
	height: 60px;
	text-align: center;
}

.floor1 .floor1-lft div:nth-child(2) img {
	height: 60px;
	width: 20px;
	margin-top: 20px;
}

.floor1 .floor1-lft div:nth-child(3) {
	margin-top: 30px;
	text-align: center;
}

.floor1 .floor1-lft div:nth-child(3) span {
	display: block;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
}

.floor1 .floor1-lft div:last-child {
	margin-top: 20px;
	text-align: center;
}

.floor1 .floor1-lft div:last-child p {
	display: inline-block;
	height: 30px;
	width: 3px;
	color: #fff;
	line-height: 30px;
	font-size: 20px;
}

.floor1 .floor1-lft div:last-child span {
	display: inline-block;
	height: 30px;
	width: 30px;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	background-color: #242424;
	border-radius: 5px;
}

.floor1 .floor1-ctr {
	height: 340px;
	width:calc(100% - 230px);
	margin-top: 20px;
	float: left;
}

.floor1 .floor1-ctr .floor1-ctr-top {
	height: 66px;
	background-color: #fff;
}

.floor1 .floor1-ctr .floor1-ctr-top div {
	height: 30px;
	width: 160px;
	display: inline-block;
	background-image: linear-gradient(37deg, #EC1111 1%, #FF8200 99%);
	border-radius: 20px;
	margin-top: 15px;
	margin-left: 20px;
	cursor: pointer;
}

.floor1 .floor1-ctr .floor1-ctr-top div span {
	text-align: center;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-indent: 0.75em;
}

.floor1 .floor1-ctr .floor1-ctr-bottom {
	height: 273px;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul {
	height: 273px;
	background-color: #fff;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li {
	display: inline-block;
	width: calc((100% / 4) - 3px);
	box-sizing: border-box;
	padding: 15px 10px 0 30px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li>span {
	font-size: 15px;
	margin-top: 10px;
	display: inline-block;
	font-weight: bold;
	height: 20px;
	width: 180px;
	color: #000;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li div {
	height: 20px;
	width: 60px;
	background-color: #FFE7E4;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li div img {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-top: 2px;
	margin-left: 3px;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li div>span {
	display: inline-block;
	height: 20px;
	width: 35px;
	font-size: 13px;
	color: red;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li:last-child {
	border-right: none;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li img {
	height: 160px;
	width: 160px;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li p {
	display: inline-block;
	margin-top: 5px;
	width: 70px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li p del {
	text-decoration: line-through;
}

.floor1 .floor1-rgt {
	height: 340px;
	width: 50px;
	margin-top: 20px;
	float: right;
	background-image: linear-gradient(37deg, #EC1111 1%, #FF8200 99%);
}

.floor1 .floor1-rgt span {
	display: inline-block;
	width: 20px;
	font-size: 16px;
	color: #fff;
	margin-left: 15px;
	margin-top: 120px;
	text-align: center;
}

.floor1 .floor1-rgt img {
	height: 20px;
	width: 20px;
	margin-left: 15px;
	margin-top: 10px;
}

/* 第一层 */
.huiyi{
	background-color: #e5e5e5; 
}
.huiyi .tital{
	font-size:26px;
	color: #272727;
	margin-top: 40px;
}
.huiyi .tital>.rgt a{
	font-size: 18px;
	color:#E1140A ;
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom:2px solid #e1140a ;
}
.huiyi .top{
	margin-top:30px;
	height: 296px;
	border-radius: 5px;
	background: url(../img/business/huiyi_up.jpg);
}
.huiyi .top a{
	display: block;
	height: 100%;
	width: 100%;
}
.huiyi .bottom{
	margin-top: 30px;
	height: 500px;
}
.huiyi .bottom>.item{
	width: calc((100% - 60px)/4);
	margin-right: 20px;
	box-sizing: border-box;
	height: 100%;
	position: relative;
}
.huiyi .bottom>.item:last-child{
	margin-right: 0;
}
.huiyi .bottom>.item .green{
	position: absolute;
	background-color:#3aa773;
	height:414px;
	width: 100%;
	display: none;
}
.huiyi .bottom>.item .green>.up{
	height: 40px;
	font-size: 22px;
	color: white;
	font-weight: bold;
	padding:80px 20px;
}
.huiyi .bottom>.item .green>.mid{
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 22px;
}
.huiyi .bottom>.item .green>.down{
	width: 120px;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 40px;
	height:35px;
	border: 1px solid;
	border-color: rgba(255,255,255,0.3);
	border-radius: 30px;
	color:white;
	text-align: center;
	line-height: 35px;

}
.huiyi .bottom>.item img{
	width: 220px;
	height:220px;
	margin-left: 25px;
}

.huiyi .bottom>.item .imgpic{
	background-color: white;
	border-radius: 5px;
}
.huiyi .bottom>.item .txt-pri{
	padding: 20px;
	background-color: #eee;
	height:150px;
}
.huiyi .bottom>.item .text{
	font-size: 17px;
	font-weight: bold;
	color: #272727;
	height: 60px;
}
.huiyi .bottom>.item .pric{
	font-size: 23px;
	text-align: center;
	height: 30px;
	margin-top: 20px;
	color: #e03531;
	font-weight: bold;
}
.huiyi .bottom>.item .pric span{
	font-size: 15px;
	font-weight: normal;
}
.shangwu{
	background-color: #e0e0e0;
}
.shangwu .top{
	background: url(../img/business/shangwu_up.jpg);
}
.bangong .top{
	background: url(../img/business/bangong_up.jpg);
}
.jiaoyu{
	background-color: #e0e0e0;
}
.jiaoyu .top{
	background: url(../img/business/jiaoyu_up.jpg);
}
.caigou .top{
	background: url(../img/business/caigou_up.png);
}
.caigou .bottom .intro{
	font-size: 14px;
	color: #272727;
	margin-top:5px;
	height: 80px;
	line-height: 200%;
}
.caigou .more{
	width: 200px;
	position: relative;
	top:-40px;
	margin: 0 auto;
}
.caigou .more img{
	height: 30px;
}
.caigou .more span{
	display: inline-block;
	height:30px;
	position: relative;
	top:-10px;
	color:#fc7573;
	font-weight: bold;
	font-size:18px;
}
.floor7 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor8 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor9 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor10 {
	height: 645px;
	background-color: #F5F5F5;
}

.item .item-top {
	height: 90px;
}

.item .item-top div{
	height: 35px;
	margin-top: 30px;
	font-size: 26px;
	font-weight: bold;
	color: #000;
	line-height: 35px;
}
.item .item-bottom {
	height: 542px;
}

.item .item-bottom div {
	display: inline-block;
	height: 542px;
	width: 230px;
	float: left;
}

.item .item-bottom div img {
	background-size: cover;
}

.item .item-bottom .item-nav {
	height: 542px;
	width: 950px;
	float: right;
}

.item .item-bottom .item-nav>div {
	height: calc((100% - 20px) / 2);
	margin-top: 20px;
	width: 950px;
}

.item .item-bottom .item-nav div:first-child {
	margin-top: 0;
}

.item .item-bottom .item-nav .item-nav-top>div,
.item .item-bottom .item-nav .item-nav-bottom>div {
	height: 100%;
	width: calc((100% - 60px) / 4);
	float: left;
	margin-left: 20px;
	text-align: center;
	background-color: #fff;
	transition: all 0.5s;
}

.item .item-bottom .item-nav .item-nav-top>div:hover,
.item .item-bottom .item-nav .item-nav-bottom>div:hover {
	cursor: pointer;
	box-shadow: 0 2px 6px #666;
}

.item .item-bottom .item-nav .item-nav-top div:first-child,
.item .item-bottom .item-nav .item-nav-bottom div:first-child {
	margin-left: 0;
}

.item .item-bottom .item-nav .item-nav-top>div img,
.item .item-bottom .item-nav .item-nav-bottom>div img {
	height: 160px;
	width: 160px;
	margin-left: 30px;
	display: block;
}

.item .item-bottom .item-nav .item-nav-top>div span,
.item .item-bottom .item-nav .item-nav-bottom>div span {
	display: inline-block;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	width: 160px;
	font-size: 18px;
	color: #242424;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item .item-bottom .item-nav .item-nav-top>div a,
.item .item-bottom .item-nav .item-nav-bottom>div a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	width: 110px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item .item-bottom .item-nav .item-nav-top>div p,
.item .item-bottom .item-nav .item-nav-bottom>div p {
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #E2231A;
}


.items .items-top {
	height: 90px;
}

.items .items-top div:first-child {
	height: 35px;
	float: left;
	margin-top: 30px;
	font-size: 26px;
	font-weight: bold;
	color: #000;
	line-height: 35px;
}

.items .items-bottom {
	height: 542px;
}

.items .items-bottom div {
	display: inline-block;
	height: 542px;
	width: 230px;
	float: left;
}

.items .items-bottom div img {
	background-size: cover;
}

.items .items-bottom .items-nav {
	height: 542px;
	width: 950px;
	float: right;
}

.items .items-bottom .items-nav>div {
	height: calc((100% - 20px) / 2);
	margin-top: 20px;
	width: 950px;
}

.items .items-bottom .items-nav div:first-child {
	margin-top: 0;
}

.items .items-bottom .items-nav .items-nav-top>div,
.items .items-bottom .items-nav .items-nav-bottom>div {
	height: 100%;
	width: calc((100% - 60px) / 4);
	float: left;
	margin-left: 20px;
	text-align: center;
	background-color: #fff;
	transition: all 0.5s;
}

.items .items-bottom .items-nav .items-nav-top>div:hover,
.items .items-bottom .items-nav .items-nav-bottom>div:hover {
	cursor: pointer;
	box-shadow: 0 2px 6px #666;
}

.items .items-bottom .items-nav .items-nav-top div:first-child,
.items .items-bottom .items-nav .items-nav-bottom div:first-child {
	margin-left: 0;
}

.items .items-bottom .items-nav .items-nav-top>div>img,
.items .items-bottom .items-nav .items-nav-bottom>div>img {
	height: 160px;
	width: 160px;
	margin-left: 30px;
	display: block;
}

.items .items-bottom .items-nav .items-nav-top>div>span,
.items .items-bottom .items-nav .items-nav-bottom>div>span {
	display: inline-block;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	width: 160px;
	font-size: 18px;
	color: #242424;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.items .items-bottom .items-nav .items-nav-top>div>a,
.items .items-bottom .items-nav .items-nav-bottom>div>a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	width: 110px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.items .items-bottom .items-nav .items-nav-top>div>p,
.items .items-bottom .items-nav .items-nav-bottom>div>p {
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #E2231A;
}
.floor7,
.floor8,
.floor9,
.floor10,
.floor11{
	background-color: #e0e0e0;
}
.floor11{
	height: 420px;
}
.floor11 .up{
	width: 480px;
	margin: 0 auto;
}
.floor11 .up>.item{
	width: 200px;
}
.floor11 .up>.item>img{
	width:190px;
}
.floor11 .up>.item>span{
	display: block;
	height: 20px;
	width: 30px;
	margin: 0 auto;
	font-size: 14px;
	color: #272727;
}
.floor11 .down{
	width: 520px;
	height: 50px;
	margin: 0 auto;
}
.floor11 .down .item{
	width: 200px;
	height:100% ;
	background-color: white;text-align: center;
	line-height:50px;
	margin-top: 50px;
	margin-left: 40px;
	color: #272727;
	font-size: 15px;
	border-radius: 30px;
}