@charset "utf-8";

.header {
	height: 50px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.header .logo {
	height: 50px;
	width: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 501;
}

.header .nav {
	height: 50px;
	background-color: #fff;
}

.header .nav .nav-left {
	height: 50px;
	width: 600px;
	float: left;
	display: inline-block;
}

.header .nav .nav-left ul {
	height: 50px;
	margin-right: 20px;
}

.header .nav .nav-left ul li {
	float: left;
	height: 50px;
	padding-right: 25px;
	line-height: 50px;
	text-align: center;
}

.header .nav .nav-left ul li a {
	font-size: 16px;
	color: #8D8D8D;
}

.header .nav .nav-right {
	height: 50px;
	width: 240px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: 360px;
	z-index: 501;
}

.header .nav .nav-right div {
	height: 50px;
	width: 50px;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

.header .nav .nav-right div span {
	display: inline-block;
	height: 50px;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
	float: right;
}

.header .nav .nav-right div p {
	position: absolute;
	top: 2px;
	left: 150px;
	font-size: 14px;
	color: #E1400A;
}

.header .nav .nav-right div img {
	margin-left: 15px;
	margin-top: 15px;
}

.myCenter {
	position: fixed;
	width: 425px;
	height: 270px;
	right: 180px;
	top: 50px;
	border-radius: 10px;
	box-sizing: border-box;
	background: url(../img/index/myCenter.png) no-repeat center center;
	z-index: 1000;
	display: none;
}

.myCenter .myCenter_top {
	height: 85px;
	width: 100%;
}

.use_img {
	width: 60px;
	height: 60px;
	margin: 15px 18px 0 25px;
	border-radius: 50%;
}

.use_id {
	line-height: 26px;
	margin-top: 26px;
	font-size: 15px;
	color: #ad8953;
}

.noName {
	font-size: 20px;
	color: #ad8953;
	width: 130px;
	display: inline-block;
	text-align: left;
}

.logout {
	font-size: 14px;
	color: #828282;
	border-bottom: 1px solid #828282;
	line-height: 20px;
	margin-right: 45px;
	margin-top: 32px;
}

.myCenter_mid {
	height: 85px;
	width: 100%;
}

.myCenter_mid ul li {
	display: inline-block;
	width: 100px;
}

.myCenter_mid ul li h3 {
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}

.myCenter_mid ul li span {
	display: inline-block;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 16px;
	width: 100px;
}

.myCenter_bottom {
	height: 130px;
	width: 100%;
}

.myCenter_bottom ul li {
	display: inline-block;
	margin-left: 25px;
	padding: 0 5px;
}

.myCenter_bottom img {
	height: 58px;
	width: 58px;
	display: block;
	margin-top: 15px;
}
