@charset "utf-8";
/* 一二级菜单JSc */

.shop_banner_n {
	width: 230px;
	position: absolute;
	top: 33px;
	left: 50%;
	margin-left: -600px;
	z-index: 10;
}

.shop_nav_c {
	width: 230px;
	background: rgba(255, 255, 255, 0.85);
}

.list_nav {
	width: 230px;
	border-left: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	position: relative;
	float: left;
	z-index: 333;
}

.list_nav div {
	font-family: "微软雅黑";
}

.list_nav a {
	text-decoration: none;
	font-family: "微软雅黑";
	color: #494949;
	font-weight: 600;
	height: 25.5px;
	line-height: 25.5px;
}

.list_nm {
	font-size: 16px;
	font-weight: 600;
	position: relative;
	padding: 16px 15px 15px 30px;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	font-weight: normal;
	display: block;
	line-height: 22px;
	height: 22px;
	box-sizing: content-box;
}

.list_nm:hover,
.list_lta p>a:hover,
.list_lta ul li>a:hover {
	color: #E1400A;
}

.list_cont {
	width: 964px;
	background: #f7f7f7;
	position: absolute;
	left: 230px;
	top: -1px;
	border-right: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 20px 22px 20px 22px;
	display: none;
	z-index: 333;
	min-height: 362px;
}

.list_rt {
	width: 252px;
	float: right;
}

.list_rt a {
	display: block;
	height: 160px;
	padding: 10px 0;
}

.list_rt a img {
	width: 252px;
	margin-bottom: 5px;
	height: 160px;
}

.list_lt {
	width: 630px;
	float: left;
	margin-bottom: 20px;
}

.list_lta p {
	color: #000;
	float: left;
	text-align: right;
	overflow: hidden;
	width: 96px;
	background: url(../img/index/banner3.png) no-repeat right center;
	padding-right: 20px;
	line-height: 20px;
	box-sizing: border-box;
	font-weight: 550;
	font-size: 13px;
}

.list_lta ul {
	margin-left: 96px;
	width: 575px;
	padding-bottom: 5px;
}

.list_lta ul li {
	font-size: 12px;
	float: left;
	line-height: 20px;
	height: 20px;
	zoom: 1;
}

.list_lta ul li a {
	border-left: 1px solid #e5e5e5;
	padding-left: 12px;
	padding-right: 12px;
	color: #191919;
	white-space: nowrap;
}

/* 左边定位 */
.fixlft {
	width: 40px;
	position: fixed;
	right: 50%;
	margin-right: 620px;
	top: 200px;
	z-index: 500;
	display: none;
}

.selected {
	color: blue;
}

.fixlft ul li {
	width: 40px;
	height: 30px;
	text-align: center;
}

.fixlft ul li a {
	font-size: 14px;
	height: 30px;
	text-align: center;
}

/* 轮播图 */
.banner {
	height: 470px;
	width: 100%;
	overflow-x: hidden;
}

.banner img {
	height: 470px;
	background-size: cover;
}

/* 一二级菜单 */
.banner-menu {
	height: 420px;
	width: 230px;
	background-color: rgba(255, 255, 255, 0.85);
	position: absolute;
	top: 25px;
	left: 160px;
	z-index: 500;
	box-sizing: border-box;
}

.banner-menu ul li {
	height: 60px;
	width: 230px;
	border-top: 1px solid #e6e6e6;
}

.banner-menu ul li a {
	font-size: 16px;
	color: #494949;
	font-weight: 600;
	padding-left: 20px;
	line-height: 60px;
}

/* 图标 */
.icon {
	height: 95px;
}

.icon ul {
	height: 95px;
}

.icon ul>a>li {
	height: 95px;
	line-height: 95px;
	width: 109px;
	float: left;
	text-align: center;
}


.icon ul a li:hover {
	transform: translateZ(20px);
	box-shadow: 0 0 3px 5px #ddd;
	transition: all 0.3s;
}

.icon ul li .icon_wrap {
	height: 50px;
	display: inline-block;
	margin-top: 20px;
}

.icon ul li .icon_wrap span {
	display: inline-block;
	line-height: 20px;
	font-size: 13px;
	color: #505050;
	text-align: center;
	position: relative;
	top: -35px;
	left: 0;
}

.icon ul li .icon_wrap img {
	height: 30px;
	width: 30px;
	margin: 0 auto;
}

.icon ul li .img2 {
	height: 30px;
	width: 30px;
	margin: 10px auto 0;
	display: block;
}

.icon ul li .img1 {
	margin: 0 auto;
	display: none;
}

/* 联想秒杀 */
.floor1 {
	height: 360px;
	background-color: #F5F5F5;
}

.floor1 .floor1-lft {
	height: 340px;
	width: 230px;
	float: left;
	margin-top: 20px;
	cursor: pointer;
	background: url(../img/index/floor101.png) no-repeat center center;
}

.floor1 .floor1-lft div:first-child {
	font-size: 32px;
	font-family: "汉仪秀英体简";
	margin-top: 44px;
	text-align: center;
	color: #fff;
}

.floor1 .floor1-lft div:nth-child(2) {
	height: 60px;
	text-align: center;
}

.floor1 .floor1-lft div:nth-child(2) img {
	height: 60px;
	width: 20px;
	margin-top: 20px;
}

.floor1 .floor1-lft div:nth-child(3) {
	margin-top: 30px;
	text-align: center;
}

.floor1 .floor1-lft div:nth-child(3) span {
	display: block;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
}

.floor1 .floor1-lft div:last-child {
	margin-top: 20px;
	text-align: center;
}

.floor1 .floor1-lft div:last-child p {
	display: inline-block;
	height: 30px;
	width: 3px;
	color: #fff;
	line-height: 30px;
	font-size: 20px;
}

.floor1 .floor1-lft div:last-child span {
	display: inline-block;
	height: 30px;
	width: 30px;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	background-color: #242424;
	border-radius: 5px;
}

.floor1 .floor1-ctr {
	height: 340px;
	width: 918px;
	margin-top: 20px;
	float: left;
}

.floor1 .floor1-ctr .floor1-ctr-top {
	height: 66px;
	background-color: #fff;
}

.floor1 .floor1-ctr .floor1-ctr-top div {
	height: 30px;
	width: 160px;
	display: inline-block;
	background-image: linear-gradient(37deg, #EC1111 1%, #FF8200 99%);
	border-radius: 20px;
	margin-top: 15px;
	margin-left: 20px;
	cursor: pointer;
}

.floor1 .floor1-ctr .floor1-ctr-top div span {
	text-align: center;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-indent: 0.75em;
}

.floor1 .floor1-ctr .floor1-ctr-bottom {
	height: 273px;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul {
	height: 273px;
	background-color: #fff;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li {
	display: inline-block;
	width: 180px;
	padding: 15px 10px 0 30px;
	border-right: 1px solid #ccc;
	cursor: pointer;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li>span {
	font-size: 15px;
	margin-top: 10px;
	display: inline-block;
	font-weight: bold;
	height: 20px;
	width: 180px;
	color: #000;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li div {
	height: 20px;
	width: 60px;
	background-color: #FFE7E4;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li div img {
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-top: 2px;
	margin-left: 3px;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li div>span {
	display: inline-block;
	height: 20px;
	width: 35px;
	font-size: 13px;
	color: red;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li:last-child {
	border-right: none;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li img {
	height: 160px;
	width: 160px;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li p {
	display: inline-block;
	margin-top: 5px;
	width: 70px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}

.floor1 .floor1-ctr .floor1-ctr-bottom ul li p del {
	text-decoration: line-through;
}

.floor1 .floor1-rgt {
	height: 340px;
	width: 50px;
	margin-top: 20px;
	float: right;
	background-image: linear-gradient(37deg, #EC1111 1%, #FF8200 99%);
}

.floor1 .floor1-rgt span {
	display: inline-block;
	width: 20px;
	font-size: 16px;
	color: #fff;
	margin-left: 15px;
	margin-top: 120px;
	text-align: center;
}

.floor1 .floor1-rgt img {
	height: 20px;
	width: 20px;
	margin-left: 15px;
	margin-top: 10px;
}

/* 第一层 */

.floor2 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor3 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor4 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor5 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor6 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor7 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor8 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor9 {
	height: 645px;
	background-color: #F5F5F5;
}

.floor10 {
	height: 645px;
	background-color: #F5F5F5;
}

.item {
	margin-top: -70px;
	padding-top: 70px;
}

.item .item-top {
	height: 90px;
}

.item .item-top div:first-child {
	height: 35px;
	float: left;
	margin-top: 30px;
	font-size: 26px;
	font-weight: bold;
	color: #000;
	line-height: 35px;
}

.item .item-top div:last-child {
	height: 35px;
	margin-top: 30px;
	float: right;
}

.item .item-top div:last-child ul {
	height: 35px;
}

.item .item-top div:last-child ul li {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	padding: 0 8px;
	color: #000;
}

.item .item-top div:last-child ul li:last-child a img {
	height: 18px;
	width: 18px;
}

.item .item-top div:last-child ul li a:hover {
	text-decoration: underline;
	color: red;
}

.item .item-bottom {
	height: 542px;
}

.item .item-bottom div {
	display: inline-block;
	height: 542px;
	width: 230px;
	float: left;
}

.item .item-bottom div img {
	background-size: cover;
}

.item .item-bottom .item-nav {
	height: 542px;
	width: 950px;
	float: right;
}

.item .item-bottom .item-nav>div {
	height: calc((100% - 20px) / 2);
	margin-top: 20px;
	width: 950px;
}

.item .item-bottom .item-nav div:first-child {
	margin-top: 0;
}

.item .item-bottom .item-nav .item-nav-top>div,
.item .item-bottom .item-nav .item-nav-bottom>div {
	height: 100%;
	width: calc((100% - 60px) / 4);
	float: left;
	margin-left: 20px;
	text-align: center;
	background-color: #fff;
}

.item .item-bottom .item-nav .item-nav-top>div:hover,
.item .item-bottom .item-nav .item-nav-bottom>div:hover {
	cursor: pointer;
	transform: translateZ(20px);
	box-shadow: 0 0 3px 5px #ddd;
	transition: all 0.3s;
}

.item .item-bottom .item-nav .item-nav-top div:first-child,
.item .item-bottom .item-nav .item-nav-bottom div:first-child {
	margin-left: 0;
}

.item .item-bottom .item-nav .item-nav-top>div img,
.item .item-bottom .item-nav .item-nav-bottom>div img {
	height: 160px;
	width: 160px;
	margin-left: 30px;
	display: block;
}

.item .item-bottom .item-nav .item-nav-top>div span,
.item .item-bottom .item-nav .item-nav-bottom>div span {
	display: inline-block;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	width: 160px;
	font-size: 18px;
	color: #242424;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item .item-bottom .item-nav .item-nav-top>div a,
.item .item-bottom .item-nav .item-nav-bottom>div a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	width: 110px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item .item-bottom .item-nav .item-nav-top>div p,
.item .item-bottom .item-nav .item-nav-bottom>div p {
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #E2231A;
}


/* 第五楼 */
.floor6 {
	height: 645px;
	background-color: #F5F5F5;
}

.items .items-top {
	height: 90px;
}

.items .items-top div:first-child {
	height: 35px;
	float: left;
	margin-top: 30px;
	font-size: 26px;
	font-weight: bold;
	color: #000;
	line-height: 35px;
}

.items .items-top div:last-child {
	height: 35px;
	margin-top: 30px;
	float: right;
}

.items .items-top div:last-child ul {
	height: 35px;
}

.items .items-top div:last-child ul li {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	padding: 0 8px;
	color: #000;
}

.items .items-top div:last-child ul li a:hover {
	text-decoration: underline;
	color: red;
}

.items .items-bottom {
	height: 542px;
}

.items .items-bottom div {
	display: inline-block;
	height: 542px;
	width: 230px;
	float: left;
}

.items .items-bottom div img {
	background-size: cover;
}

.items .items-bottom .items-nav {
	height: 542px;
	width: 950px;
	float: right;
}

.items .items-bottom .items-nav>div {
	height: calc((100% - 20px) / 2);
	margin-top: 20px;
	width: 950px;
}

.items .items-bottom .items-nav div:first-child {
	margin-top: 0;
}

.items .items-bottom .items-nav .items-nav-top>div,
.items .items-bottom .items-nav .items-nav-bottom>div {
	height: 100%;
	width: calc((100% - 60px) / 4);
	float: left;
	margin-left: 20px;
	text-align: center;
	background-color: #fff;
}

.items .items-bottom .items-nav .items-nav-top>div:hover,
.items .items-bottom .items-nav .items-nav-bottom>div:hover {
	cursor: pointer;
	transform: translateZ(20px);
	box-shadow: 0 0 3px 5px #ddd;
	transition: all 0.3s;
}

.items .items-bottom .items-nav .items-nav-bottom div:last-child:hover {
	transform: none;
	cursor: pointer;
	box-shadow: none;
}

.items .items-bottom .items-nav .items-nav-top div:first-child,
.items .items-bottom .items-nav .items-nav-bottom div:first-child {
	margin-left: 0;
}

.items .items-bottom .items-nav .items-nav-top>div>img,
.items .items-bottom .items-nav .items-nav-bottom>div>img {
	height: 160px;
	width: 160px;
	margin-left: 30px;
	display: block;
}

.items .items-bottom .items-nav .items-nav-top>div>span,
.items .items-bottom .items-nav .items-nav-bottom>div>span {
	display: inline-block;
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	width: 160px;
	font-size: 18px;
	color: #242424;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.items .items-bottom .items-nav .items-nav-top>div>a,
.items .items-bottom .items-nav .items-nav-bottom>div>a {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	width: 110px;
	font-size: 12px;
	color: #666;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.items .items-bottom .items-nav .items-nav-top>div>p,
.items .items-bottom .items-nav .items-nav-bottom>div>p {
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #E2231A;
}

.items .items-bottom .items-nav .items-nav-bottom div:last-child>div {
	height: calc((100% - 20px) / 2);
	margin-top: 20px;
	width: 100%;
	background-color: #fff;
}

.items .items-bottom .items-nav .items-nav-bottom div:last-child {
	background-color: #F5F5F5;
}

.items .items-bottom .items-nav .items-nav-bottom div:last-child>div:first-child {
	margin-top: 0;
}

.items .items-bottom .items-nav .items-nav-bottom div:last-child .floor6-top>div,
.items .items-bottom .items-nav .items-nav-bottom div:last-child .floor6-bottom>div {
	display: inline-block;
	height: 100%;
	width: 115px;
	float: left;
}

.items .items-bottom .items-nav .items-nav-bottom div:last-child .floor6-top img,
.items .items-bottom .items-nav .items-nav-bottom div:last-child .floor6-bottom img {
	height: 95px;
	width: 95px;
	margin-top: 12px;
}

.items .items-bottom .items-nav .items-nav-bottom div:last-child .floor6-top span,
.items .items-bottom .items-nav .items-nav-bottom div:last-child .floor6-bottom span {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	width: 100px;
	text-align: left;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	padding-top: 20px;
}

.items .items-bottom .items-nav .items-nav-bottom div:last-child .floor6-top p,
.items .items-bottom .items-nav .items-nav-bottom div:last-child .floor6-bottom p {
	height: 35px;
	line-height: 35px;
	text-align: left;
	color: red;
	font-size: 14px;
	margin-left: 7px;
}

.items .items-bottom .items-nav .items-nav-bottom div:last-child>.floor6-top:hover,
.items .items-bottom .items-nav .items-nav-bottom div:last-child>.floor6-bottom:hover {
	cursor: pointer;
	transform: translateZ(20px);
	box-shadow: 0 0 3px 5px #ddd;
	transition: all 0.3s;
}
