@charset "utf-8";

.main {
	font-size: 0;
	width: 230px;
	position: absolute;
	top: 20px;
	left: 150px;
	margin: 12px 0;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 500;
}

.main>li {
	padding: 8px 25px;
	border-left: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
}

.main>li:hover {
	cursor: pointer;
	background-color: #f7f7f7;
}


.main>li>a {
	color: #494949;
	display: block;
	padding: 10px 0;
	font-size: 16px;
	font-weight: 600;
}

.main>li>a:hover {
	color: #CB242B;
}

.main>li:hover>ul.content-nav {
	display: block;
}

/* 二级菜单 */

/* 鼠标滑过样式 */
.content-nav>li>a>span>span:hover,
.content-nav>li>a>span>p:hover{
	color: #e1400a;
}

.content-nav {
	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	width: 1050px;
	box-sizing: border-box;
	background-color: #F7F7F7;
	display: none;
}

.content-nav>li {
	height: 40px;
	display: block;
	box-sizing: border-box;
	padding: 20px 20px;
}

.content-nav>li>a {
	display: inline-block;
	width: 100%;
	padding: 0px 20px;
}

.content-nav>li>a>span {
	font-size: 15px;
	color: #666666;
	font-weight: bold;
	font-size: 13px;
	text-align: left;
	display: block;
}

.content-nav>li>a>span>p {
	display: inline-block;
	padding: 0 15px;
	font-weight: bold;
	font-size: 13px;
}

.content-nav>li>a>span>span {
	display: inline-block;
	padding: 0 15px;
	font-weight: bold;
	font-size: 13px;
}