body {
	background-color: #f9f9f9;
}

ul {
	margin: 0;
	padding: 0;
}

/* 左边定位 */
.fixlft {
	width: 40px;
	position: fixed;
	right: 50%;
	margin-right: 620px;
	top: 200px;
	z-index: 500;
	display: none;
}

.fixlft ul li {
	width: 40px;
	height: 30px;
	text-align: center;
}

.fixlft ul li a {
	font-size: 14px;
	height: 30px;
	text-align: center;
}

/* 图标 */
.icon {
	height: 95px;
	z-index: 10px;
	position: relative;
}

.icon ul {
	height: 95px;
}

.icon ul li {
	height: 95px;
	line-height: 95px;
	width: 109px;
	position: absolute;
	/* right: 400px; */
	/* float: left; */
	text-align: center;
}

.icon ul li:hover {
	transform: translateZ(20px);
	box-shadow: 0 3px 5px #ddd;
}

.icon ul li img {
	height: 30px;
	width: 30px;
	display: inline-block;
	margin: 0 auto;
}

.icon ul li span {
	display: block;
	height: 20px;
	line-height: 20px;
	font-size: 13px;
	color: #505050;
	text-align: center;
	margin-top: -40px;
}

/* 新品发布 */
.floor1 {
	height: 1147px;
	width: 100%;
}

.floor1 #title {
	height: 120px;
	background: url(../img/newproduct/newback001.jpg);
	background-position-x: center;
	background-position-y: top;
	width: 100%;
	height: 97px;
}

.floor1 .container .content {
	margin-top: 10px;
	height: 1147px;
	width: 100%;
}


.floor1 .content ul li {
	height: 63px;
	width: 600px;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	border: 1px solid #d7dde3;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	line-height: 63px;
	background-color: #eee;
	position: relative;
}

.floor1 .content ul li:first-child {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #B1B9C2;
}

.floor1 .content ul li:hover {
	width: 600px;
	cursor: pointer;
	font-weight: bold;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #B1B9C2;
}

.floor1 .content ul li .arrowhead {
	position: absolute;
	top: 25px;
	right: 10px;
	width: 30px;
	height: 20px;
	background: url(../img/newproduct/arrowhead.png) no-repeat;
	display: none;
}

.floor1 .content ul li>a {
	display: inline-block;
	height: 63px;
	width: 600px;
}

.floor1 .content ul li>a:hover {
	display: inline-block;
	height: 20px;
	width: 400px;
	color: #000000;
}

.floor1 .content .contenter .box.pictrueshow {
	display: block;
}

.floor1 .content .contenter .box {
	display: none;
}

.floor1 .content .computer .com_tab ul li {
	background-color: #F9F9F9;
	border-width: 0px;
	height: 140px;
	position: relative;
}

.floor1 .content .computer .com_tab ul li img {
	margin-top: 30px;
}

.floor1 .content .computer .com_tab ul li>p {
	position: absolute;
	top: 65px;
	left: 268px;
}

.floor1 .content .commer {
	height: 393px;
}

.floor1 .content .commer .com_conent {
	width: calc((100% - 20px)/ 3);
	margin-right: 10px;
	height: 100%;
	float: left;
	background-color: #EEEEEE;
	overflow-x: hidden;
	position: relative;
}

.floor1 .content .commer .com_conent:last-child {
	margin-right: 0px;
}

.floor1 .content .commer .com_conent img {
	width: 230px;
	height: 230px;
	margin-left: -100px;
	margin-top: 80px;
}

.floor1 .content .commer .com_conent .com_conent_com {
	width: 200px;
	height: 130px;
	position: absolute;
	top: 130px;
	left: 170px;
	line-height: 20px;
}

.floor1 .content .commer .com_conent:hover {
	cursor: pointer;
}

.floor1 .content .commer .com_conent .com_conent_com p:first-child {
	/* 单行溢出省略号 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 175px;
	font-size: 14px;
	color: #000000;
	margin-bottom: 10px;
}

.floor1 .content .commer .com_conent .com_conent_com b {
	display: block;
	margin-top: 20px;
	color: #000000;
	font-size: 20px;
}

.floor1 .content .commer_picture {
	margin-top: 10px;
	height: 521px;
	width: 100%;
}

.floor1 .content .commer_picture .com_picture {
	width: calc((100% - 10px) / 2);
	margin-right: 10px;
	float: left;
	height: 100%;
	/* overflow: hidden; */
	position: relative;
	top: 0;
	transition: all 1s;
}

.floor1 .content .commer_picture .com_picture:first-child:hover {
	/* top: -10px; */
	cursor: pointer;
	z-index: 10;
	box-shadow: 5px 8px 20px #999;
	/* 边框阴影 */
}

.floor1 .content .commer_picture .com_picture:last-child {
	margin-right: 0;
}

.floor1 .content .commer_picture .com_picture img {
	width: 100%;
	height: 100%;
}

.floor1 .content .commer_picture .com_picture .pic_tow {
	width: 100%;
	height: calc((100% - 10px) / 2);
	margin-bottom: 10px;
	position: relative;
	top: 0;
	transition: all 1s;
}

.floor1 .content .commer_picture .com_picture .pic_tow:first-child:hover {
	cursor: pointer;
	box-shadow: 5px 8px 20px #999;
	/* 边框阴影  */
	z-index: 30;
}

.floor1 .content .commer_picture .com_picture .pic_tow:last-child:hover {
	cursor: pointer;
	box-shadow: 5px 8px 30px #999;
	/* 边框阴影  */
	z-index: 60;
}

.floor1 .content .commer_picture .com_picturer .pic_tow:last-child {
	margin-bottom: 0;
}

.floor1 .content .commer_picture .com_picturer .pic_tow img {
	width: 100%;
	height: 100%;
}


/* 笔记本 */
.floor2 {
	margin-top: 120px;
	background-color: #F9F9F9 !important;
	/* padding-bottom: 20px; */
}

.floor2 #title {
	height: 120px;
	background: url(../img/newproduct/newback005.jpg);
	background-position-x: center;
	background-position-y: top;
	width: 100%;
	height: 97px;
}

.container .show {
	padding-top: 20px;
	height: 400px;
	width: 100%;
	background-color: #F9F9F9 !important;
}

.show>.item {
	height: 100%;
	width: calc((100% - 30px) / 4);
	margin-right: 10px;
	float: left;
	background-color: white;

}

.show>.item:hover {
	cursor: pointer;
}

 .show>.item:last-child {
	margin-right: 0;
}

 .show>.item img {
	width: 185px;
	height: 185px;
	margin-top: 30px;
	margin-left: 55px;
}

 .show>.item .item_content {
	height: 145px;
	overflow: hidden;
	/* text-align: center; */
	box-sizing: border-box;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

 .show>.item .item_content p {
	font-size: 16px;
	display: inline-block;
	color: #000000;
}

 .show>.item .item_content #hide {
	/* 单行溢出省略号 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 243px;
	display: inline-block;
}

 .show>.item .item_content b {
	margin-top: 10px;
	color: red;
	font-size: 18px;
	display: inline-block;
	/* float: left; */
}

 .show>.item .item_content .button {
	width: 100px;
	height: 30px;
	border: 1px solid red;
	background-color: red;
	color: white;
	position: absolute;
	right: 20px;
	top: 110px;
	line-height: 30px;
	/* float: left; */
	text-align: center;
}

/* 台式机 */
.floor3 {
	/* padding-top: 10px; */
	background-color: #F9F9F9;
}

.floor3 #title {
	height: 120px;
	background: url(../img/newproduct/newback002.jpg);
	background-position-x: center;
	background-position-y: top;
	width: 100%;
	height: 97px;
}


/* ThinkPad */
.floor4 {
	background-color: #F9F9F9;
}

.floor4 #title {
	height: 120px;
	background: url(../img/newproduct/newback003.jpg);
	background-position-x: center;
	background-position-y: top;
	width: 100%;
	height: 97px;
}

.floor4 .container {
	padding-bottom: 30px;
}


/* 配件和服务 */
.floor5 {
	/* margin-top: 60px; */
	background-color: #F9F9F9;
}

.floor5 #title {
	height: 120px;
	background: url(../img/newproduct/newback004.jpg);
	background-position-x: center;
	background-position-y: top;
	width: 100%;
	height: 97px;
}
.floor5 .container{
	padding-bottom: 10px;
}

.floor5 #seckill {
	margin-top: 3px;
	width: 50px;
	height: 15px;
	border: 1px solid red;
	border-radius: 20px;
	color: red;
	text-align: center;
	line-height: 15px;
}

.floor5 .item:nth-child(2) .item_content #seckill {
	margin-top: 20px;
} 

/* 轮播图 */
.banner {
	height: 470px;
}

.banner .banner01 {
	height: 470px;
	background: url(../img/newproduct/newbanner002.jpg) no-repeat;
	background-position-x: center;
	background-position-y: left;
	background-size: 100% 100%;
}

.banner .banner02 {
	height: 470px;
	background: url(../img/index/banner004.jpg) no-repeat;
	background-position-x: center;
	background-position-y: left;
	background-size: 100% 100%;
}

.banner .banner03 {
	height: 470px;
	background: url(../img/index/banner003.jpg) no-repeat;
	background-position-x: center;
	background-position-y: left;
	background-size: 100% 100%;
}

.banner .banner04 {
	height: 470px;
	background: url(../img/newproduct/newbanner001.jpg) no-repeat;
	background-size: 100% auto;
	background-position-x: center;
	background-position-y: left;
}

.banner .banner05 {
	height: 470px;
	background: url(../img/index/banner007.jpg) no-repeat;
	background-position-x: center;
	background-position-y: left;
	background-size: 100% 100%;
}

.banner .banner06 {
	height: 470px;
	background: url(../img/index/banner014.jpg) no-repeat;
	background-position-x: center;
	background-position-y: left;
	background-size: 100% 100%;
}
