@charset "utf-8";
.one{
	height: 126px;	
	background: url(../img/points/pointsmall002.jpg) no-repeat center center;
	background-size: 100% 100%; 
}
.two{
	background: url(../img/points/pointsmall001.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 134px;
}
.three{
	background: url(../img/points/pointsmall003.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 788px;
}
.four{
	background: url(../img/points/pointsmall004.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 134px;
}
.fifve{
	background: url(../img/points/pointsmall005.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 296px;
}
.six{
	background: url(../img/points/pointsmall006.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 134px;
}
.seven{
	background: url(../img/points/pointsmall007.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 788px;
}
.eight{
	background: url(../img/points/pointsmall008.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 134px;
}
.nine{
	background: url(../img/points/pointsmall009.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 788px;
}
.ten{
	background: url(../img/points/pointsmall010.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 134px;
}
.eleven{
	background: url(../img/points/pointsmall011.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 788px;
}
.twelve{
	background: url(../img/points/pointsmall012.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 134px;
}
.thirteen{
	background: url(../img/points/pointsmall013.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 788px;
}
.fourteen{
	background: url(../img/points/pointsmall014.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 134px;
}
.fifteen{
	background: url(../img/points/pointsmall015.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 788px;
}
.sixteen{
	background: url(../img/points/pointsmall016.jpg) no-repeat center center;
	background-size: 100% 100%;
	height: 118px;
}
/* 轮播 */
.slider{
	height: 480px;
	cursor: pointer;
}
.slider .s1{
	background: url(../img/photo/pointsmall01.jpg) no-repeat center center;
	background-size: auto 100%;
}
.slider .s2{
	background: url(../img/photo/piontsmass08.jpg) no-repeat center center;
	background-size: auto 100%;
}
.slider .s3{
	background: url(../img/photo/pointsmall02.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.slider .s4{
	background: url(../img/photo/pointsmall03.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.slider .s5{
	background: url(../img/photo/pointsmall04.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.slider .s6{
	background: url(../img/photo/pointsmall05.jpg) no-repeat center center;
	background-size: 100% 100%;
}.slider .s7{
	background: url(../img/photo/pointsmall07.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.slider .s8{
	background: url(../img/photo/pointsmall06.jpg) no-repeat center center;
	background-size: 100% 100%;
}
.floor7 .tiaozhuan{
	position: fixed;
	top:45px;
	right: 70px;
	display: none;
	z-index: 1000;
}
