@charset "utf-8";

.nav {
	height: 35px;
	border-bottom: 1px solid #C9C5C5;
	line-height: 35px;
}

.nav .lft {
	float: left;
	width: 480px;
}

.nav .lft span:first-child a:hover {
	color: #dd0600;
}

.nav .rgt {
	float: right;
	height: 20px;
	width: 100px;
	background: url(../img/productdetail/detail_kefu.png) no-repeat;
	background-position: -8px;
	background-size: 100px 20px;
	color: white;
	text-align: center;
	line-height: 20px;
	margin-top: 8px;
}
.detail{
	height: 630px;
}
.detail .lft {
	float: left;
	width: 520px;
	height: 530px;
}
.detail .lft a.phone-display {
	display: block;
	position: relative;
	height: 100%;
}


.bottom-nav{
	margin-top: 20px;
}

.bottom-nav div.tab-btn{
	position: relative;
	width: 40px;
	height: 60px;
	cursor: pointer;
}

div.tab-btn:hover{
	opacity: 0.6;
}

.tab-btn.btn-left{
	float: left;
}

.tab-btn.btn-right{
	float: right;
}

i.shift-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 26px;
	height: 26px;
	border: 1px solid #999;
	border-radius: 50%;
}

i.shift-icon>span {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #999;
}

.btn-left i.shift-icon>span {
	border-left: 1.5px solid #999;
	transform: translate(-30%, -50%) rotate(45deg);
}
.btn-right i.shift-icon>span {
	border-right: 1.5px solid #999;
	transform: translate(-70%, -50%) rotate(-45deg);
}


.bottom-nav div.bottom-center-nav{
	position: relative;
	height: 60px;
	margin: 0 50px;
}
.bottom-center-nav ul.small-img-ul {
	position: absolute;
	left: 30px;
	top: 0;
	height: 100%;
}
.small-img-ul li.img{
	float: left;
	width: 60px;
	height: 100%;
	border:1px solid transparent;
	background-size: 100% 100%;
	cursor: pointer;
}
.small-img-ul li.img:hover{
	border-color: rgb(160, 27, 27);
}
.detail{
	height: 680px;
}
.detail .rgt {
	float: left;
	height: 680px;
	width: calc(100% - 540px);
	padding-top: 40px;
	box-sizing: border-box;
	margin-left: 20px;
	color: #272727;
}

.detail .rgt>div:first-child {
	font-size: 20px;
}

.detail .rgt>div:nth-child(2) {
	font-size: 13px;
	margin-top: 10px;
	color: darkgray;
}

.detail .rgt>div:nth-child(3) {
	background-color: #f9f9f9;
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
}

.detail .rgt>div:nth-child(3)>span {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

.detail .rgt>div:nth-child(3)>span:first-child {
	margin-left: 20px;
}

.detail .rgt>div:nth-child(3)>span:nth-child(2){
	margin-left: 80px;
	color: #dd0600;
	font-size: 23px;
	font-weight: bold;
}

.detail .rgt>div:nth-child(3)>span:nth-child(3) {
	border-left: 1px solid lightgray;
	padding: 5px;
	margin-left: 350px;
	font-size: 10px;
	color: darkgray;
}
.detail .rgt .item{
	height: 40px;
	line-height: 40px;
}
.detail .rgt .top{
	margin-top: 10px;
}
.detail .rgt .item>span {
	display: inline-block;
	font-size: 12px;
}

.detail .rgt .item>div {
	display: inline-block;
	width: 220px;
	border: 1px solid #DADADA;
	height: 23px;
	text-align: center;
	line-height: 23px;
	cursor: pointer;
	margin-bottom: -8px;
	color: #272727;
	font-size: 12px;
	margin-left: 20px;
	overflow: hidden;
}
.detail .rgt .item>.i5{
	margin-left: 5px;
}
.detail .rgt .item>div:hover{
	border-color: #E1140A;
	color: #E1140A;
}
.detail .rgt .red>div{
	color: #E1140A;
	border-color: #E1140A;
}
.detail .rgt .fukuan{
	margin-top: 10px;
}
.detail .rgt .fukuan>span{
	float: left;
}
.detail .rgt .fukuan>.huabei{
	float: left;
	width: 280px;
	border: 1px solid #DADADA;
	background: url(../img/productdetail/detail_huabei.png) no-repeat;
	background-size: 15px;
	background-position: 3px;
	width: 250px;
	height: 20px;
	cursor: pointer;
	margin-left: 20px;
}
.detail .rgt .fukuan>.baitiao{
	float: left;
	width: 280px;
	border: 1px solid #DADADA;
	background: url(../img/productdetail/detail_baitiao.png) no-repeat;
	background-size: 15px;
	background-position: 3px;
	width: 250px;
	height: 20px;
	cursor: pointer;
	margin-left: 20px;
}
.detail .rgt .fukuan>.huabei>span:first-child,
.detail .rgt .fukuan>.baitiao>span:first-child{
	display: inline-block;
	padding-left: 20px;
	color: #272727;
	font-size: 12px;
	font-weight: bold;
	border-right: 1px solid #DADADA;
	padding-right: 8px;
	line-height: 20px;
	position: relative;
	top:-4px;
}

.detail .rgt .fukuan>.huabei>span:nth-child(2),
.detail .rgt .fukuan>.baitiao>span:nth-child(2){
	display: inline-block;
	width: 160px;
	height: 100%;
	line-height: 20px;
	color: #272727;
	overflow: hidden;
}

.detail .rgt .fukuan>.huabei>span:last-child,
.detail .rgt .fukuan>.baitiao>span:last-child{
	display: inline-block;
	height: 15px;
	width:20px;	
	margin-left: 230px;
	position: relative;
	top:-18px;
}
.detail .rgt .huabei>div,
.detail .rgt .baitiao>div{
	width: 250px;
	text-align:center;
	height: 30px;
	border-left: 1px solid #DADADA;
	border-right: 1px solid #DADADA;
	margin-left: -1px;
	line-height:30px;
	position: relative;
	display: none;
}
.detail .rgt .huabei>div:last-child,
.detail .rgt .baitiao>div:last-child{
	border-bottom: 1px solid #DADADA;
}
.detail .rgt .count{
	margin-top: 100px;
}
.detail .rgt .count>span{
	display: inline-block;	
}
.detail .rgt .count>.addcount{
	display: inline-block;
	width: 300px;
	height: 30px;
	font-size: 0;
	margin-left: 20px;
	
}
.detail .rgt .count>.addcount>.reduce,
.detail .rgt .count>.addcount>.add{
	display: inline-block;
	border: 1px solid #DADADA;
	font-size: 12px;
	width: 18px;
	height:20px;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	-webkit-user-select:none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.detail .rgt .count>.addcount>.reduce{
	border-right: none;
}
.detail .rgt .count>.addcount>.add{
	border-left: none;
}
.detail .rgt .count>.addcount>.txt{
	width: 50px;
	height: 20px;
	font-size: 10px;
	outline: none;
	border:1px solid #DADADA;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	top:1px;

}
.detail .rgt .butt{
	margin-top: 20px;
	margin-left: 70px;
	font-size: 15px;
}
.detail .rgt .butt .buy-btn{
	height: 35px;
	width: 120px;
	color: white;
	background-color: #E1140A;
	border: none;
	cursor: pointer;
}
.detail .rgt .butt .car-btn{
	background-color: #ffeded;
	color:#E1140A;
	border: 1px solid #E1140A;
	height: 35px;
	width: 120px;
	margin-left: 20px;
	cursor: pointer;
}
.detail .rgt .app{
	margin-top: 20px;
	margin-left: 70px;
}
.detail .rgt .app a{
	display: inline-block;
	height: 100%;
	color: #0066EE;
}
.detail .rgt .apppic{
	height: 138px;
	width: 130px;
	margin-top: 5px;
	margin-left: 80px;
}

.look .up{
	color: #272727;
	font-size: 20px;
	font-weight: bold;
	margin-top:50px
}
.look{
	font-size: 0;
	background-color: #f6f7f8;
	height: 450px;
}
.look .img{
	width: 200px;
	height:282px ;
	transition: all 0.5s;
	margin-top: 10px;
}
.look .img img{
	width: 190px;
	height: 180px;
}
.look .img a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.look .img:hover{
	transform: translateY(-2px);
}
.look .lunbo_rgt{
	color: #999;
}
.look .img .txt{
	width: 190px;
	background-color: white;
	font-size: 12px;
}
.look .img .txt .tit{
	font-size: 13px;
	height: 32px;
	padding: 10px;
	overflow: hidden;
	color: #272727;
	padding-bottom: 0;
}
.look .img .txt .txt_lunbo{
	height: 20px;
	padding: 10px;
	padding-top: 5px;
	overflow: hidden;
}
.look .img .txt .pric_lunbo{
	color: #E1140A;
	font-weight: bold;
	text-align: center;
	height: 20px;
	margin-top: 5px;
}
.look .box{
	height: 310px;
}
.look .fenye{
	position:relative;	
}
.jieshao>.fixx{
	margin-top: 0;
}
.jieshao .name{
	color: gray;
	font-size: 20px;
	float: left;
}
.jieshao img{
	width:100%;
}
.jieshao .con{
	padding: 0;
}
.jieshao .fixx{
	background-color: #f5f5f5;
	padding-bottom: 80px;
	position: relative;
}

.jieshao .info{
	height: 60px;
	line-height: 60px;
	background-color: #F5F5F5;

}
.jieshao .info>li:first-child{
	color: #E1140A;
}
.jieshao .info>li{
	border: none;
}
.jieshao .name{
	height: 60px;
	line-height: 60px;
	background-color: #F5F5F5;
	width: 900px;
}
.jieshao .item{
	font-size: 20px;
	color: #333;
	margin-top:20px;

	
}
.jieshao .haoping{
	font-size: 25px;
	color: #333;
	height: 80px;
	line-height: 80px;
}
.jieshao .haoping>span{
	color: #E1140A;
}
.jieshao .page2,
.jieshao .page3{
	border-bottom: 1px solid #Fff;
	padding-bottom: 15px;
}
.jieshao .page2>ul li{
	display: inline-block;
	width: 250px;
	margin-left: 10px;
	color: #333;
	font-size: 15px;
	margin-top: 10px;
}

.jieshao .page3>ul li{
	display: inline-block;
	width: 300px;
	margin-left: 10px;
	color: #333;
	font-size: 16px;
	margin-top: 20px;
}
.jieshao .page3>ul li:last-child{
	margin-left: 250px;
}