@charset "utf-8";

/* →_→定位 */
.fix {
	/* height: 430px; */
	width: 50px;
	position: fixed;
	left: 50%;
	margin-left: 690px;
	top: 100px;
	background-color: #fff;
	z-index: 500;
	display: none;
}

.fix ul li:first-child img {
	height: 67px;
	width: 50px;
}


.fix .fix_img {
	height: 60px;
	width: 50px;
	display: block;
}

 .fix .fix_img2 {
	 height: 60px;
	 width: 50px;
	 display: none;
 }

.fix ul li:nth-child(5) img {
	height: 77px;
	width: 50px;
}

.fix ul li:nth-child(6) img {
	height: 82px;
	width: 50px;
}

.fix ul li:last-child img {
	height: 25px;
	width: 50px;
}
