@charset "utf-8";
.floor1{
	height: 51px;
	border-bottom: 1px solid #d9d8d6;
}
.floor1 .container .left{
	width: 147px;
	height: 100%;
	float: left;
	overflow: hidden;
}
.tab {
	height: 1px;
}
.floor1 .container .center{
	float: left;
	line-height: 51px;
	color: #000000;
	font-size: 20px;
	margin-left: 20px;
}
.floor1 .container .right{
	float: right;
}
.floor1 .container .right>li{
	display: inline-block;
	line-height: 51px;
	padding: 0 5px;
}
.floor1 .container .right>li>a{
	color: #000000;
}
.floor2{
	height: 100%;
	background-color: #fafafa;
}
.floor2 .container .shopp{
	width: 100%;
	height: 100%;
	background-color: white;
}
.floor2 .container .shopp .header{
	font-size: 18px;
	color: #000000;
	line-height: 18px;
	padding-left: 30px;
	padding-top: 50px;
}
.address {
	background-color: #eee;
}
.address span {
	display: inline-block;
	padding-bottom: 30px;
}
.address button {
	margin: 0 30px;
	padding: 5px;
}
.address ul li {
	display: inline-block;
}
.address ul li:nth-child(2) div a {
	font-size: 14px;
	color: #000;
}
.address ul li div {
	width: 250px;
	display: inline-block;
	padding: 10px 0;
	box-sizing: border-box;
	text-align: center;
}
.adress_alert {
	height: 350px;
	width: 800px;
	background-color: #eee;
	margin: 0 auto;
	box-sizing: border-box;
	position: fixed;
	top: 100px;
	left: auto;
	margin-left: 200px;
	z-index: 200;
	display: none;
}
.adress_alert  h2 {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding: 30px 0;
}
.adress_alert div {
	text-align: center;
}
.adress_alert div p {
	display: inline-block;
}
.adress_alert div span {
	display: inline-block;
	color: red;
}
.adress_alert div input {
	height: 25px;
	width: 300px;
	margin: 15px 0;
	text-align: left;
}

.adress_alert button {
	display: inline-block;
	margin-left: 200px;
	width: 100px;
	text-align: center;
}
/* .floor2 .container .shopp .header .dizhi>li{
	width: 273px;
	height: 120px;
	padding-top: 20px;
	line-height: 35px;
	border: 1px solid red;
	margin-top: 20px;
	padding-left: 20px;
}
.floor2 .container .shopp .header .dizhi>li>a{
	float: right;
	margin-right: 10px;
}
.floor2 .container .shopp .header .dizhi>li>a:hover{
	color: red;
} */


.one .zhifu{
	margin-top: 20px;
	border: 1px solid red;
	color: red;
	cursor: pointer;
	width: 80px;
	padding: 10px 10px;
}
.two.header>span{
	display: inline-block;
	float: right;
	margin-right: 30px;
}
.two.header>span>a:hover{
	color: red;
}
.two .peisong{
	border: 1px solid #D9D8D6;
	margin-right: 30px;
	margin-top: 20px;
}
.two .peisong .left{
	float: left;
	height: 300px;
	padding-left: 20px;
	background-color: #F7F7F7;
	width: 304px;
	padding-top: 20px;
	line-height: 30px;
	
}
.two .peisong .left>span{
	display: block;
	border: 1px solid red;
	width: 97px;
	height: 28px;
	padding: 5px 5px;
	text-align: center;
	margin-top: 20px;
}
.two .peisong .right{
	float: right;
	width: calc(100% - 324px);
	padding-top: 20px;
	height: 220px;
}
.two .peisong .right .tupian img {
	width: 130px;
	height: 130px;
	background-size: 100% 100%;
	margin-left: 40px;
	float: left;
}
.two .peisong  .right .wenzi{
	float: left;
	height: 90px;
	line-height: 25px;
	margin-top: 16px;
	margin-left: 10px;
	position: relative;
}
.two .peisong  .right .wenzi a {
	display: inline-block;
	color: #666;
	margin-left: 50px;
}
.two .peisong  .right .wenzi a:hover {
	color: #666;
}
.two .peisong  .right .wenzi>span:first-child {
	width: 300px;
	display: inline-block;
}
.two .peisong  .right .wenzi>p{
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
}
.two .peisong  .right .wenzi .yidong{
	position: relative;
	top: 0;
	left: 0px;
	color: #757575;
}
.three .xiugai>li{
	display: inline-block;
	font-size: 12px;
	margin-left: 30px;
	padding-top: 10px;
	margin-bottom: 15px;
}
.three .icon1{
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 10px;
}
.three .content{
	border: 1px solid #D9D8D6;
	margin-right: 30px;
	margin-top: 20px;
}
.three .content .header_01{
	background-color: #F7F7F7;
}
.three .content .header_01>li{
	float: left;
	width: 108px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	cursor: pointer;
	/* color: red; */
}
.three .content .layui-tab{
/* 	color: red; */
	margin-top: -1px;
}
.three .content .layui-show>li{
	float: left;
	height: 42px;
	line-height: 42px;
	text-align: center;
	cursor: pointer;
	margin-left: 26px;
	border-bottom: 1px solid red;
}
.three .content .layui-show>img{
	margin-top: 50px;
	margin-left: -280px;
}
.layui-tab-item{
	margin-top: 20px;
	margin-bottom: 20px;
}
.three .content .layui-show .hidealls{
	display: none;
	margin-top: 70px;
	margin-left: -253px;
	margin-bottom: 30px;
}
.three .content .layui-show .shiyong{
	display: inline-block;
	background-color: red;
	color: white;
	height: 13px;
	padding: 7px 20px;
	font-size: 12px;
}
.three .content .layui-show .tupian1{
	margin-left: 20px;
}
.three .content .layui-show .tupian2{
	margin-left: 20px;
}
.three .content .footer_01{
	cursor: pointer;
}
.four .zi{
	font-size: 12px;
	margin-top: 20px;
}
.four .text{
	width: 400px;
	font-size: 12px;
	height: 28px;
	padding-left: 20px;
	margin-left: 10px;
}
.four .text1{
	width: 652px;
	height: 82px;
	padding-left: 20px;
	margin-left:33px;
}
.four .dingdan{
	border-bottom: 1px solid #D9D8D6;
	height: 200px;
}
.four .dingdan .bold{
	text-align: right;
	margin-right: 30px;
	font-size: 14px;
}
.four .dingdan .bold ul>li{
	margin-top: 20px;
	position: relative;
}
.four .dingdan .bold ul>li span{
	font-weight: bold;
	text-align: right;
}
.four .dingdan .bold ul>li .bold_01{
	position: relative;
	right: 10px; 
}
.four .footer_02 {
	margin-top: 20px;
	color: #000;
	margin-bottom: 30px;
	padding-bottom: 20px;
	line-height: 27px;
}
.four .footer_02 p {
	display: inline-block;
	width: 80px;
	text-align: right;
}

.four .footer_02 .rightall{
	float: right;
	height: 35px;
	line-height: 35px;
	background-color: red;
	color: white;
	margin-top: -16px;
	margin-right: 20px;
	padding: 0 50px;
	cursor: pointer;
}
.four .footer_02 .rightall>a{
	color: white;
}
